.mainpage {
    margin-top: 69px;
    padding-bottom: 199px;
}

.mainpage .wrapper {
    display: flex;
    background-image: url("./main.png");
    background-repeat: no-repeat;
    background-position: 100% 29%;
    background-size: 629px 593px;
}

.mainpage .title {
    max-width: 715px;
    margin-bottom: 20px;
}

.mainpage p {
    font-size: 20px;
    line-height: 24px;
    max-width: 540px;
    margin-bottom: 70px;
}
