.mobile-relative-wrapper {
    display: none;
}

.mobileResultsSlider {
    width: 298px;
    height: 140px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.mobileResultsSlider .loading {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mobileResultsSlider .loading img {
    width: 36px;
    height: 36px;
    animation: loading 2s linear infinite;
}

.mobileResultsSlider .slide {
    border-collapse: collapse;
    text-align: center;
}

.mobileResultsSlider .slide tr {
    width: 298px;
    height: 75px;
}

.mobileResultsSlider .slide tr:first-child {
    background: #029491;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffffff;
}

.mobileResultsSlider .slide tr:last-child td {
    padding-top: 18px;
    padding-bottom: 28px;
}

.mobileResultsSlider .slide tr td:first-child {
    width: 130px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.mobileResultsSlider .slide tr td {
    width: 84px;
    padding: 0;
}

@media (max-width: 405px) {
    .mobile-relative-wrapper {
        display: block;
    }
}

@media (max-width: 355px) {
    .mobile-relative-wrapper {
        width: 100%;
    }
}